# Django
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# CORS / CSRF
CSRF_TRUSTED_ORIGINS=http://localhost:4321,http://localhost:8000
CORS_ALLOWED_ORIGINS=http://localhost:4321,http://localhost:8000

# Database
USE_SQLITE=True
POSTGRES_DB=banionline
POSTGRES_USER=banionline
POSTGRES_PASSWORD=banionline
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
